/* definição de caracters no padrão com acentuação ABNT2 */
@charset "UTF-8";

/* Tamanho das telas e seus padrões */
/* Device breakpoints
    Pequenas telas: até 600px
    Celular de 600px até 768px
    Tablets de 768px até 992px
    Desktop de 992px até 1200px
    Grandes tels a cima de 1200px 
*/

/*  Trabalhando com midias */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    /* por as configurações para dispositivos Notbooks e Desktops  */

    nav {
        position: fixed;
        height: 100vh;
    }
    
    i#burguer {
        display: none;
    }

    #menu {
        display: block;
        
    }

    /* --------------------------------------------------------------------------------- */

    section {
        margin-left: 250px;
    }

    #principal article {
        max-width: 650px;
    }

    #principal article h1 {
        font-size: 38px;
    }
    
    #principal article p {
        font-size: 28px;
    }

    #principal article button {
        font-size: 18px;
    }


}